*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    height: 100vh;
}

nav {
    background-color: #3d3d3d;
    text-align: center;
    color: #FFF;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 4px 12px;
    border-radius: 8px;
    border: none;
}

#result, #category  {
    font-size: larger;
    color: #FFF;
}
